/**************************************************
    *Main CSS file for site
    10/22/23
    Author: Max Hyland
*************************************************/

:root {
    --global-color-1: #80000;
}

@import url(https://use.typekit.net/bbs5dyd.css);

/* Ensuring every thing can conform to sizing */
* {
  box-sizing: border-box;
}

/* Base Body */
body {
    font-family: "lato", sans-serif;
    font-style: normal;
    font-size: 100%;
    color:whitesmoke;
    margin-left: 10px;
    background-color: black;
}

/*Top nav - styling (Mobile) */

#dc-brand {
  z-index:2;
}


.mobile-nav {
  position:sticky;
  z-index: 3;
}

.mobile-nav a {
  color: #fff;
  text-align: center;
  text-decoration:none;
  font-size: 20px;
  display:block;
  padding: 0.6em;
  border: 1.5px solid rgb(49, 48, 48);
}

.mobile-nav a.mobile-menu-icon {
  color:rgb(83, 13, 13);
  display: block;
  position:fixed;
  right: 0;
  top: 0;
}


/* styling for header element */

header h2{
    font-size: 175%;
    color: var(--global-color-1);
  text-indent: 30px;
}

header h3 {
  font-size: 130%;
  font-style: italic;
  text-indent: 30px;
}

header img {
  border-radius: 20%;
  padding-top: 1em;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  text-shadow: 2px 2px 2px var(--global-color-1);
}

/* The styles for the main section */

main {
  text-align: center;
}

main h1 {
  font-size: 150%;
}

main h2 {
  font-size: 130%;
  color: var(--global-color-1);
}

main img {
  max-width: 70%;

}
/* styling for div element */

div {
  font-size: 125%;
}

/* styling for nav element */
nav h1 {
  text-align: center;
}
nav ul {

  list-style-type: none;
}
 
nav img {
  max-width: 70%;
}

/* styling for footer element */

footer p {
  text-align: center;
}


/*.tablet-desktop, #menu-links {
  display:none;
}

.mobile, .mobile-nav {
  display:block;
} 




/* Tablet Viewport */

/* .mobile (
* display: none;)

.tablet (
  display: block; )

* inline for picture list

/* Desktop Viewport */

/* Move this below to desktop since it will be utilized
a:focus,
a:hover {
font-style: italic;
} */
/* Styling for container on hovering link images
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* .mobile (
  * display: none;)

/* .Desktop (
  * display: block;)
